<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/menuAdmin.css">
</head>
<body>
    <header class="header">
        <h1 class="header-title">Tutorías</h1>
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <div class="container">
        <div class="menu">
            <h1>Menu</h1>
            <div class="menu-items">
                <div class="menu-item" onclick="window.location.href='agregarAdmin.html'">
                    <i class="fa fa-plus"></i>
                    <span>Agregar</span>
                </div>
                <div class="menu-item" onclick="window.location.href='usuariosAdmin.html'">
                    <i class="fa fa-users"></i>
                    <span>Usuarios</span>
                </div>
                <div class="menu-item" onclick="window.location.href='GyA_Admin.html'">
                    <i class="fa fa-users"></i>
                    <span>Grupos y asignación</span>
                </div>
                <div class="menu-item" onclick="window.location.href='MiPerfilAdmin.html'">
                    <i class="fa fa-user"></i>
                    <span>Mi Perfil</span>
                </div>
            </div>
            <div class="profile">
                <i class="fa fa-user-circle"></i>
                <span>Hola Administrador 1</span>
            </div>
        </div>
    </div>
</body>
</html>